---
const menuItems = [
  {
    name: "Home",
    link: "/",
  },
  {
    name: "Treatment",
    link: "/treatment",
  },
  {
    name: "About Us",
    link: "/about",
  },
  {
    name: "Contact Us",
    link: "/contact",
  },
];
---

<!-- Navbar.astro -->
<nav class="px-6 h-[90px] flex justify-between items-center border-b border-b-black">
  <div class="flex items-center space-x-4">
    <a href="/">
      <p class="italic text-2xl">sitelogo</p>
      <!-- <img src="path/to/your/logo.png" alt="Logo" class="h-8" /> -->
    </a>
  </div>
  <div class="flex items-center gap-10">
    <!-- Mobile Menu Icon (Hamburger) -->
    <button class="md:hidden text-white flex flex-col justify-between w-6 h-4 cursor-pointer" id="mobileMenuButton">
        <div class="w-full h-1 bg-black rounded"></div>
        <div class="w-5/6 h-1 bg-black rounded"></div>
        <div class="w-4/6 h-1 bg-black rounded"></div>
    </button>
    <!-- Mobile Menu (Hidden by default) -->
    <ul
      class="hidden md:hidden flex-col space-y-14 p-8 absolute bg-gray-200 top-20 left-0 right-0 z-20 h-[100vh]"
      id="mobileMenu"
    >
      {

        menuItems.map((item) => (
          <li class="relative group">
            <a
              href={item.link}
              class={`transition-all hover:scale-110 duration-300 ease-in-out text-3xl
          {@if $page.url === ${item.link} || ($page.url === "/" && ${item.link} === "/")} underline{/}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      <a
        href="/contact"
        class="text-white bg-black hover:scale-105 transition w-full text-center px-4 py-3 rounded-[5px] text-3xl lg:hidden block"
      >
        Book an Appointment
      </a>

    </ul>


    <!-- Desktop Menu (Hidden on small screen) -->


    <ul class="hidden md:flex space-x-8 text-lg">
      {
        menuItems.map((item) => (
          <li class="relative group">
            <a
              href={item.link}
              class={`hover: transition duration-300 ease-in-out
          {@if $page.url === ${item.link} || ($page.url === "/" && ${item.link} === "/")} underline{/}`}
            >
              {item.name}
            </a>
            <div class="absolute bg-black h-[1px] w-0 group-hover:w-full transition duration-300 ease-in-out" />
          </li>
        ))
      }
    </ul>
    <a
      href="/contact"
      class="text-white bg-black hover:scale-105 transition px-4 w-fit py-2 rounded-[5px] hidden lg:block"
    >
      Book an Appointment
    </a>
  </div>
</nav>

<!-- JavaScript for Mobile Menu Toggle -->
<script>
  const mobileMenuButton = document.getElementById("mobileMenuButton");
  const mobileMenu = document.getElementById("mobileMenu");

  mobileMenuButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");

    document.body.classList.toggle("overflow-hidden");
  });

</script>

<style>
  /* Add any custom CSS styles here */
</style>
